<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Police Accident Records Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Police Accident Records Management System</h1>
    <hr>
    <h2>Update Accident</h2>

    <form action="#" th:action="@{/saveAccident}" th:object="${accident}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <label class="col-sm-2 col-form-label">Name</label>
        <input type="text" th:field="*{name}" placeholder="MUGISHA Brave" class="form-control mb-4 col-4">
        <label class="col-sm-2 col-form-label">Plate number</label>
        <input type="text" th:field="*{plateNo}" placeholder="RAF234T" class="form-control mb-4 col-4">
        <label class="col-sm-2 col-form-label">Location</label>
        <input type="text" th:field="*{location}" placeholder="MUSANZE" class="form-control mb-4 col-4">
<!--        <label class="col-sm-2 col-form-label">The date</label>-->
<!--        <input type="datetime-local" th:field="*{dateTime}" placeholder="Occured date" class="form-control mb-4 col-4">-->
        <label class="col-sm-2 col-form-label">Number of death</label>
        <input type="text" th:field="*{death}" placeholder="ENTER A NUMBER" class="form-control mb-4 col-4">
        <label class="col-sm-2 col-form-label">Number of patients</label>
        <input type="text" th:field="*{patients}" placeholder="ENTER A NUMBER" class="form-control mb-4 col-4">
        <label class="col-sm-2 col-form-label">comment the cause of the accident</label>
        <input type="text" th:field="*{comment}" placeholder="Comment" class="form-control mb-4 col-4">


        <button type="submit" class="btn btn-info col-2"> Update Accident</button>
    </form>

    <hr>

    <a th:href="@{/accident}"> Back to Accidents List</a>
</div>
</body>

</html>